.button{
    transition: 1s;
    height: 40px;
    display: inline-block;
    padding: 1em;
    margin: auto;
    margin-top: 15px;
    box-sizing: border-box;
    font-weight: bold;
    color: tomato;
    letter-spacing :3px;
    border-radius:20px;
    border: none;
    text-transform: uppercase;
    background-color: gainsboro;
    -moz-box-align: center;
    font-family: 'Poppins', sans-serif;
    width: 200px;
    opacity: 0.8;

}
.button:hover{
    background-color: tomato ;
    color: white;
    opacity: 1;
}